#navbar {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 10px;
  background-color: lightgray;
}

#navbar a {
  padding: 15px 8px 6px 16px;
  font-size: 18px;
}

#main-doc {
  margin-top: 15px;
  margin-left: 250px;
  margin-right: 20px;
}

.nav-brand {
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
}

.nav-item {
  color: black !important;
  border-top: solid 1px !important;
}

.nav-item a {
  color: black;
}

.nav-item a:hover {
  color: darkgray;
}
